<div class="w-full">
  <%= render 'shared/flash' %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl"></h1>
    <%= link_to t('.new'), new_mountain_route_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="mountain_routes" class="min-w-full">
    <%= render 'table', mountain_routes: @mountain_routes %>

    <%== pagy_nav(@pagy) %>
  </div>
</div>
