<div class="w-full">
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
      <div class="md:flex">
          <div class="md:shrink-0">
              <img class="h-48 w-full object-cover md:h-full md:w-48" src="https://picsum.photos/200">
          </div>
          <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"><%= @user.name %></div>
              <p href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"><%= @user.email %></p>
              <p class="mt-2 text-slate-500">
              </p>
          </div>
      </div>
  </div>

<div id="mountain_routes" class="min-w-full">
  <%= render "mountain_routes/table", mountain_routes: @user.mountain_routes %>
</div>
