<div class="my-5 grid md:grid-cols-2 gap-5 sm:grid-cols-1">
  <div class="sm:col-span-1 md:my-5">
    <%= form.label :partners %>
    <%= form.select :partner_ids, User.pluck(:first_name, :id), {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", style: "min-height: 42px", multiple: true, data: { controller: "select" } } %>
  </div>
  <div class="sm:col-span-1 md:my-5">
    <%= form.label :partner %>
    <%= form.text_field :partner, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
</div>
