<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", app_setting: @app_setting %>

  <%= link_to "Show this app setting", @app_setting, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to app settings", app_settings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
