<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <h1 class="text-xl font-bold text-center">Tabela trudności wspinaczkowych</h1>

    <div class="py-2 flex justify-center">
      <table class="table-auto mx-auto">
        <thead class="bg-gray-300">
          <tr>
            <th class="px-4 py-2">Skala Francuska</th>
            <th class="px-4 py-2">Skala Polska</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">1a</td>
            <td class="border px-4 py-2">I</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
