<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <h1 class="text-xl font-bold text-center">Tabela trudności wspinaczkowych</h1>

      <div class="w-full">
      <img src="https://8a.pl/8academy/wp-content/uploads/2018/10/skala.jpg" alt="Skala trudności wspinaczkowych" class="w-full">
      </div>

      <div class="w-full">
        <p class="text-center">Źródło: <a href="https://8a.pl/8academy/skala-trudnosci-wspinaczkowych/">8a.pl</a></p>
      </div>
  </div>
</div>
